In [1]:
print('Hello, JupyterLab!')

Hello, JupyterLab!

In [1]:
num = 1

def increment(n):
    return n + 1

increment(num)

2

In [2]:
import matplotlib.pyplot as plt
import numpy as np

t = np.arange(0.0, 2.0, 0.01)
s = np.sin(2 * np.pi * t)

fig, ax = plt.subplots()
ax.plot(t, s)

In [3]:
import pandas as pd
import numpy as np
pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))

          A         B         C         D
0  1.017622 -1.276315 -1.355561  1.516805
1  0.562709 -0.198230 -0.976496 -2.928292
2  0.918057  0.673348 -1.191724  1.572736
3  0.341471  2.536379 -0.295237  0.777889
4  1.104175  1.619452  0.836219  0.592636
5  1.205483 -1.431344  0.540141  2.534263

## h2
- text

> quoute