In [18]:
import pandas as pd
iris = pd.read_csv('iris.data.csv', header=None)
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [9]:
iris.iloc[0, :]

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
class           Iris-setosa
Name: 0, dtype: object

In [14]:
iris.loc[:, ['sepal_length', 'sepal_width']].iloc[1:10, :]

   sepal_length  sepal_width
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4
8           4.4          2.9
9           4.9          3.1

In [21]:
iris['class'] = iris['class'].astype('category')
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null category
dtypes: category(1), float64(4)
memory usage: 5.0 KB

In [23]:
datetime_sample1 = pd.Series(['2018-10-01 00:00:00', '2018-10-02 00:00:00', '2018-10-03 00:00:00'])
datetime_sample1 = pd.to_datetime(datetime_sample1)
datetime_sample1

0   2018-10-01
1   2018-10-02
2   2018-10-03
dtype: datetime64[ns]