In [4]:
import pandas as pd
iris = pd.read_csv('iris.data.csv', header=None)
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [5]:
iris.iloc[0, :]

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
class           Iris-setosa
Name: 0, dtype: object

In [6]:
iris.loc[:, ['sepal_length', 'sepal_width']].iloc[1:10, :]

   sepal_length  sepal_width
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4
8           4.4          2.9
9           4.9          3.1

In [7]:
iris['class'] = iris['class'].astype('category')
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null category
dtypes: category(1), float64(4)
memory usage: 5.0 KB

In [19]:
iris['class'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [26]:
iris['sepal_length'].rank(method="first")

0       33.0
1       17.0
2       10.0
3        6.0
4       23.0
5       47.0
6        7.0
7       24.0
8        2.0
9       18.0
10      48.0
11      12.0
12      13.0
13       1.0
14      74.0
15      66.0
16      49.0
17      34.0
18      67.0
19      35.0
20      50.0
21      36.0
22       8.0
23      37.0
24      14.0
25      25.0
26      26.0
27      42.0
28      43.0
29      11.0
       ...
120    135.0
121     65.0
122    148.0
123    105.0
124    127.0
125    141.0
126     98.0
127     94.0
128    113.0
129    142.0
130    144.0
131    150.0
132    114.0
133    106.0
134     95.0
135    149.0
136    107.0
137    115.0
138     89.0
139    136.0
140    128.0
141    137.0
142     80.0
143    133.0
144    129.0
145    130.0
146    108.0
147    120.0
148     99.0
149     83.0
Name: sepal_length, Length: 150, dtype: float64

In [27]:
iris.sort_values(by=['sepal_length'])

     sepal_length  sepal_width  petal_length  petal_width            class
13            4.3          3.0           1.1          0.1      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
38            4.4          3.0           1.3          0.2      Iris-setosa
8             4.4          2.9           1.4          0.2      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
22            4.6          3.6           1.0          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
47            4.6          3.2           1.4          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
29            4.7          3.2           1.6          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
24            4.8          3.4           1.9          0.2      Iris-setosa
11            4.8          3.4           1.6          0.2      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
57            4.9          2.4           3.3          1.0  Iris-versicolor
106           4.9          2.5           4.5          1.7   Iris-virginica
34            4.9          3.1           1.5          0.1      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa
37            4.9          3.1           1.5          0.1      Iris-setosa
1             4.9          3.0           1.4          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
26            5.0          3.4           1.6          0.4      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
35            5.0          3.2           1.2          0.2      Iris-setosa
43            5.0          3.5           1.6          0.6      Iris-setosa
60            5.0          2.0           3.5          1.0  Iris-versicolor
7             5.0          3.4           1.5          0.2      Iris-setosa
93            5.0          2.3           3.3          1.0  Iris-versicolor
..            ...          ...           ...          ...              ...
58            6.6          2.9           4.6          1.3  Iris-versicolor
75            6.6          3.0           4.4          1.4  Iris-versicolor
86            6.7          3.1           4.7          1.5  Iris-versicolor
140           6.7          3.1           5.6          2.4   Iris-virginica
108           6.7          2.5           5.8          1.8   Iris-virginica
77            6.7          3.0           5.0          1.7  Iris-versicolor
65            6.7          3.1           4.4          1.4  Iris-versicolor
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
76            6.8          2.8           4.8          1.4  Iris-versicolor
112           6.8          3.0           5.5          2.1   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
52            6.9          3.1           4.9          1.5  Iris-versicolor
120           6.9          3.2           5.7          2.3   Iris-virginica
50            7.0          3.2           4.7          1.4  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
109           7.2          3.6           6.1          2.5   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
105           7.6          3.0           6.6          2.1   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
118           7.7          2.6           6.9          2.3   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica

[150 rows x 5 columns]

In [30]:
iris['sepal_length'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [32]:
iris.groupby('class').mean()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [33]:
iris.groupby('class').aggregate([np.mean, np.sum])

                sepal_length        sepal_width        petal_length         \
                        mean    sum        mean    sum         mean    sum
class
Iris-setosa            5.006  250.3       3.418  170.9        1.464   73.2
Iris-versicolor        5.936  296.8       2.770  138.5        4.260  213.0
Iris-virginica         6.588  329.4       2.974  148.7        5.552  277.6

                petal_width
                       mean    sum
class
Iris-setosa           0.244   12.2
Iris-versicolor       1.326   66.3
Iris-virginica        2.026  101.3

In [8]:
datetime_sample1 = pd.Series(['2018-10-01 00:00:00', '2018-10-02 00:00:00', '2018-10-03 00:00:00'])
datetime_sample1 = pd.to_datetime(datetime_sample1)
datetime_sample1

0   2018-10-01
1   2018-10-02
2   2018-10-03
dtype: datetime64[ns]

In [10]:
sample_data = {'x1': [1, 2, 3], 'x2': [10, 20, 30]}
pd.DataFrame(sample_data)

   x1  x2
0   1  10
1   2  20
2   3  30

In [11]:
import numpy as np
matrix = np.random.randn(10, 3)
pd.DataFrame(matrix)

          0         1         2
0 -2.401209  1.078896 -0.521719
1  0.831884 -0.056171 -0.943141
2  1.050699  0.770633  0.480313
3 -0.214266 -0.141045  0.550228
4  0.448330  0.997946 -0.288173
5 -2.402452 -0.307515 -0.400826
6  0.284182 -0.724097  0.753859
7 -1.529317  0.246793  0.306100
8 -0.153494 -1.251845  0.133973
9  0.204424 -0.083464  1.909644